body{
    background-color: aquamarine;
    background-image: url(img/raio.png);
    margin: 0;
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'header section segunda div'
                         'footer footer footer footer';
    grid-template-rows: 20vh 85vh 70vh;
    font-size: 13px;
    font-family: 'Russo One', sans-serif;
}

header{
    grid-area: header;
    background-color: #F2F2F2;
}
nav {
    grid-area: nav;
    background-color: #0D0C0B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;

}
/*.ima {
    width: 30px;
    height: auto;
}
*/
header, section, .segunda, div{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

nav a{
    color: #F2F2F2;
    text-decoration: none;
}

nav a:hover{
    color: burlywood;
    text-decoration: underline;
    transition: 2s;
    text-decoration: none;
}
img{
    max-width: 90%;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 4px  #F2F2F2;
}
section{
    grid-area: section;
    background-color: #F2F2F2;

}

.segunda{
    grid-area: segunda;
    background-color: #F2F2F2;
}
div{
    grid-area: div;
    background-color: #F2F2F2;
}
footer{
    text-align: center;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer p{
    color: white;
    background-color: #0D0C0B;
}


@media (max-width: 425px){
    body{
        grid-template: 'nav nav nav nav'
                       'header header header header'
                       'section section section section'
                       'segunda segunda segunda segunda'
                       'div div div div'
                       'footer footer footer footer';
        grid-template-rows: 20vh 70vh 70vh 70vh 80vh 85vh;
    }
    
        }
    p{
        font-size: 18px;
        font-family: 'Russo One', sans-serif; 

    }
}